
@{
    ViewBag.Title = "ViewAllIEP";
}
<link href="~/Content/IDE/css/idd.css" rel="stylesheet" />
<link href="~/Content/Adminassets/css/resultstyle.css" rel="stylesheet" />
<h2>View All IEP</h2>
<div class="container">


    @using (Html.BeginForm("Speech Case History", "Editor", FormMethod.Post, new { @id = "formmm", enctype = "multipart/form-data" }))
    {<div class="content_inside content_inside_active">
            <div class="content">
                <div class="audio_div">
                    <h5>GR NO:</h5>
                    <input id="Aca_GRNO" type="number" placeholder="GR_NO" style="width:25%" />
                    <button class="cl01" id="SpeechBtn" style="padding: 0.3rem; padding-left: 1rem; padding-right: 1rem; color: white;; background: linear-gradient(90deg, rgba(2,0,36,1) 11%, rgba(130,116,221,1) 48%, rgba(43,44,117,1) 90%); " onclick="FetchAcademicData(document.getElementById('Aca_GRNO').value)">Search</button>
                    <br />
                    <h5>Student Name:</h5>
                    <span id="Aca_St_Name" style="width:25%; margin-left: 25px;"></span>
                    <br />
                    <h5>Father Name:</h5>
                    <span id="Aca_Father_Name" style="width:25%; margin-left: 25px;"></span>
                </div>
                <div>
                    <h4 style="text-align:center; margin:20px;">Individualized E-Plan</h4>
                </div>
                <table class="table table-striped table-bordered table-sm" id="academic_table" style="color:black;">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Date of Assessment</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody id="mytable"></tbody>
                </table>
            </div>
        </div>
        <div class="ttr-overlay"></div>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script src="~/Content/javascripts/ViewAllIEP.js"></script>*@
<script>

    function FetchAcademicData(id) {
        debugger
        if (id == '') return alert("Enter the GRNO!!!")
        $.get(`/IDD/GetIEPData?GRNO=${id}`,
            function (data) {
                console.log(data)
                document.getElementById("Aca_St_Name").innerHTML = data.Student.Name;
                document.getElementById("Aca_Father_Name").innerHTML = data.Student.FatherName;

                var table = document.getElementById('academic_table');
                var year = [];
                table.innerHTML = "";

                var currentTime = new Date()
                var currentyear = currentTime.getFullYear()

                var row = "";
                row = `<tr>
                            <th scope="col" class="text-center">Date of Assessment</th>
                            <th scope="col" class="text-center">Action</th>
                       </tr>`
                for (var i = 0; i < data.Performance.length; i++) {
                    if (data.Performance[i].Year == currentyear) {
                        row += `<tr>
                                        <td>${data.Performance[i].Year}</td>
                                        <td>
                                            <a class="button_active btn btn-sm btn-primary mx-1" id="true" href="/IDD/UpdateIEP?GRNO=${id}&IEP_ID=${data.Performance[i].IEP_ID}">Update</a>
                                        </td>
                                  </tr>`
                    }
                    else {
                        row += `<tr>
                                    <td>${data.Performance[i].Year}</td>
                                    <td>
                                        <button class="button_active btn btn-sm btn-primary mx-1" id="btn" disabled=disabled>Update</button>
                                    </td>
                              </tr>`
                    }
                    year.push(data.Performance[i].Year);
                }
                table.innerHTML += row;
            })
    }
</script>